.PageTitle {
    border-left: 15px solid #006c90;
    padding: 10px;
    background: #006c9025;
    margin-bottom: 30px;
}

.PageTitle h1 {
    margin: 0;
    font-weight: 200;
}

.PageTitle h2 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 100;
}

.PageTitle.error{
    border-left: 12px solid#cb2d3e;
    background:#cb2d3e25;
}