body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.text {
    font-weight: 300;
    font-size: 2rem;
}

.red {
    font-weight: 700;
    color: red;
}

.input {
    font-weight: 100;
    font-size: 2.1rem;
    margin: 7px 0px;
}

.btn {
    border-radius: 15px;
    margin: 8px;
    padding: 10px 25px;
    border: none;
    outline: none;
    background-color: #0092c3;

    font-size: 3rem;
    color: #fff;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1px 1px 1px 1px !important;
    padding: 1px 1px 1px 1px !important;
}